@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 62.5%;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
  width: 100vw;
  
}
.Navbar {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  height: 6rem;
}

.Navbar__name {
  font-size: 2.4rem;
  margin-left: 2rem;
}

.Navbar__container {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 1rem;
}

.Navbar__container--item {
  font-size: 2rem;
  margin-right: 1rem;
  font-weight: 700;
}

main {
  height: 100vh;

}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 80vw;
  margin: 0 auto;
}

.Description--title {
  font-size: 5rem;
  margin: 1rem;
  text-align: center;
}

.Description--image {
  background-image: url('../assets//images/Mepic.jpg');
  width: 20rem;
  height: 20rem;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #eeeeee;
}

.Description--image img {
  width: 100%;
  object-fit: cover;
}

.Description--text {
  margin: 1rem;
  padding: 1rem 5rem;
  font-size: 2rem;
  text-align: center;
  text-align: center;
}


.Projects__Container{
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.Projects__Container h2 {
  font-size: 3rem;
  color: #393e46;
  align-self: flex-start;
  
}



.Projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 20rem));
  justify-content: center;
  gap: 1rem;
  width: 80vw;
 
}

.Projects__Card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  width: 18rem;
  height: 25rem;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
}

.Projects__Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Projects__Card--Icon {
  height: 70%;
  display: flex;
  align-items: center;
}

.Projects__Card--Icon img {
  width: 48px;
}

.Projects__Card--Description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
  height: 30%;
  box-sizing: border-box;
  width: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #393e46;
  border-radius: 0px 0px 10px 10px;

}

.Projects__Card--Description span{
  font-size: 1.5rem;
  color: #eeeeee;
}

.Projects__Card--Description p{
  font-size: 1.2rem;
  color: #ffd369;
}

.Contact{

  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 80vw;
  margin: 0 auto;
}

.Contact__Container{
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.Contact h2 {
  font-size: 3rem;
  color: #393e46;
  align-self: flex-start;
}

.Contact__Social{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin: 2rem 0rem;
}

.Contact__Link{
  display: flex;
  align-items: center;
}

.Contact__Link a{
  text-decoration: none;
  font-size: 2rem;
  color: black;
  margin: 2rem 0;
  padding-left: 0rem;
  padding-right: 2rem;
}

.Contact__Card{
  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 4rem 3rem;
  border-radius: 10px;
  width: 35rem;
}

.Contact__Card:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Contact__Form{
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

}

.Contact__Form input{
  border: 2px solid #fafafa;
  border-radius: 10px;
  height: 3rem;
  width: 100%;
}

.Contact__Form label{
  margin-top: 1rem;
  margin-bottom:0.5rem ;
  color: #393e46;
  font-size: 2rem;
}

.Contact__Form textarea{
  border: 2px solid #9EA3A2;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
  height: 8rem;

}

.Contact__Form button{
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 20px;
  height: 5rem;
  background-color: #393e46;
  color: #eeeeee;
  font-weight: 700;
  font-size: 2rem;
}


.footer {
  display: flex;
  height: 1rem;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
}

.footer__container--item {
  list-style: none;
  font-size: 1.5rem;
  margin: 1rem 1rem;
}
