.Projects__Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  width: 18rem;
  height: 25rem;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
}

.Projects__Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.Projects__Card--Icon {
  height: 70%;
  display: flex;
  align-items: center;
}

.Projects__Card--Icon img {
  width: 48px;
}

.Projects__Card--Description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
  height: 30%;
  box-sizing: border-box;
  width: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #393e46;
  border-radius: 0px 0px 10px 10px;
}

.Projects__Card--Description span {
  font-size: 1.5rem;
  color: #eeeeee;
}

.Projects__Card--Description p {
  font-size: 1.2rem;
  color: #ffd369;
}